@import "tailwindcss";

/* globals.css */
html, body {
  overflow-x: hidden;
}

@theme {
  /* 🛠️ تم تغيير المتغير هنا ليعتمد على خط Expo Arabic الجديد */
  --font-sans: var(--font-expo), sans-serif;
}

@layer utilities {
  .clip-curve {
    clip-path: ellipse(85% 100% at 50% 100%);
  }
}